
body{ /*imagem de fundo*/
	background:url(../img/imgfundo.jpg) 100% 100% ;
}
#conteudo { /*corpo da pagina*/

	width:950px;
	height::1130px;
	margin:auto;
	margin-top:auto;
	}

#topo {  /*lugar do banner*/
	border: 1px #000000 solid;
	margin-top:10px;
	width:950px;
	height:250px;
	background:url(../img/logo.png) no-repeat center;
	position:relative;
	
	}

	
#areacadastro{ /*primeiro caixa de conteudo*/
	width:730px;
	height:740px;
	background:#666;
	float:left;
	margin-top:20px;
	margin-left:100px;
	}
	
	
	
	
#rodape{ /*rodapé da pagina*/
margin-top:50px;

	width:100%;
	height:30px;
	text-align:center;
	background:#333;
	margin-top:820px;
	
	
	color:#FFF;
}


